@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Poppins:wght@400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  color: #e0e0e0; 
}



h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}

p {
  font-family: 'Poppins', sans-serif; 
}
svg text {
    font-family: 'Poppins', sans-serif;
  }
  